body {
  background-color: darkslateblue
}

.nav1 {
  background-color: darkslateblue;
  padding: 15px;
  text-align: center;
  color: black;
  font-style: italic;
  text-align: center;
  font-size-adjust: inherit;
} 
section {
  background-color: darkslateblue;
  text-align: center;
  text-decoration: ivory;
  font-size: medium;
}
.image{
  text-align: center;
  margin: 20px;
}
.author{
  background-color:darkslateblue ;
  text-size-adjust: 30px;
}


  

  
